<html>
    <head>
      <!-- bootstrap linking -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      <!-- the count is directly in the title -->
        <title>Your count is: {{ count }}</title>
    </head>
    <body>
        <div class = 'container'>
            <div class='jumbotron'>
                <h2>Your count is:</h2>
              <!-- the count is also here -->
                <h1>{{ count }}</h1>
                <br>
              <!-- link back to homepage -->
                <h4><a href='/'>Another one?</a></h4>
            </div>
        </div>
    </body>
</html>
