<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Your count is: {{ count }}</title>
    </head>
    <body>
        <div class = 'container'>
            <div class='jumbotron'>
                <h2>Your count is:</h2>
                <h1>{{ count }}</h1>
                <br>
                <h4><a href='/'>Another one?</a></h4>
            </div>
        </div>
    </body>
</html>
